{% extends "base.html" %}

{% block titulo %}CODE{% endblock %}

{% block contenido %}

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="row">
                    <div class="status">Conectando..</div>
                    <div class="col-md-1">
                        <button type="submit" class="page-scroll btn btn-xl" id="run" name="run"><i class="fa fa-play"></i> RUN</button>
                    </div>
                   
                </div>
            </div>
        </div>
    </header>

{% endblock %}